div.content {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 89px;
	position: relative;
}
div.logo {
	min-width: 600px;
	display: block;
}

.searchbox {
	padding-top: 18px;
	width: 466px;
	line-height: 26px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
}

input[type="text"] {
	display: block;
	width: 100%;
	font-family: arial, sans-serif;
	font-size: 18px;
	box-shadow: none;
}

input[type="submit"] {
	display: inline-block;
	border: 1px;
	background: #f2f2f2;
	font-size: 13px;
	line-height: 24px;
	height: 30px;
	width: 130px;
}

.navbar {
	width: 100%;
	border: 1px;
	top: auto;
	position: absolute;
	top: 20px;
}

.footer {
	background: #f2f2f2;
	bottom: auto;
	bottom: 0;
	position: absolute;
	width: 100%;
	border: 0px;
	border-top: 1px;
	line-height: 40px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav, .footer_right {
		float: right;
		padding-right: 30px;
}

.footer_left {
	float: left;
}

li {
	display: inline;

}
a {
	display: inline-block;
	line-height: 24px;
	font-size: 13px;
	font-family: arial, sans-serif;
	color: #222;
	padding-right: 15px;
	vertical-align: middle;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

div.signin {
	display: inline-block;
	line-height: 28px;
	padding: 0 12px;
	border-radius: 2px;
	background-color: #4285f4;
	color: #fff;
	font-weight: bold;
	text-align: center;
}